body{
    background-color: darkslategrey;
    width: 100%;
    margin: auto;
}
body *{
    border-radius: 10px;
}
.header_day{
    height: 100px;
    width: 100%;
    background-color: #ff9800;
    margin-bottom: 10px;
}
.header_night{
    height: 100px;
    width: 100%;
    background-color: midnightblue;
    margin-bottom: 10px;
}
header>a{
    margin-right: 10px;
    color: black;
}
header>a:hover{
    color: white;
    cursor: pointer;
}
.logo{
    height: 50%;
    padding-left: 10px;
    padding-top: 20px;
}
.soc_net_img{
    height: 30%;
    margin: 10px;
}
.footer{
    height: 100px;
    width: 100%;
    background-color: #ff9800;
    margin-top: 10px;
}
.footer p{
    margin: 0px;
    padding-left: 5px;
}
main{
    width: 100%;
    min-height: 800px;
}
.lesson1{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
}
.left, .fio, .infoAboutYourself, .review{
    background-color: #ffc107;
}

.left{
    width: 100%;
    display: grid;
}
.photo{
    height: 94%;
    padding: 3%;
    width: 94%;
}
.right{
    width: 98%;
    margin: 1%;
    margin-top: 0px;
    text-align: center;
    height: 100%;
}
.fio{
    width: 100%;
    color: darkred;
    height: 10%;
}
h1{
    margin-top: 0px;
}
.infoAboutYourself, .review{
    height: 100%;
}
.infoAboutYourself{
    width: 98%;
    margin-right: 2%;
}
.review{
    width: 98%;
    margin-left: 2%;
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.textInfo{
    padding: 0px 10px 0px 10px;
    height: 60%;
    font-size: x-large;
    }
td{
    border: solid 1px;
    width: 120px;
    height: 60px;
    border-radius: 0px;
}
td>a{
    height: 60px;
    width: 120px;
    position: absolute;
}
td>div{
    float: right;
}
td>b{
    font-size: xx-large;
}
td>div>p{
    margin: auto;
    text-align: right;
}
td>p{
    margin: auto;
    font-weight: bold;
    font-size: 1.3em;
}
td>div>b{
    float: right;
}
.red{
    background-color: palevioletred;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.lesson3 img{
    max-width: 80%;
    min-width: 50%;
    height: 80%;
    margin: 10px;
}
.lesson3 div{
    border: solid 2px;
    color: white;
}
.flex_horizontal{
    display: flex;
    max-height: 500px;
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: darkgray;
}
.flex_horizontal>div{
    max-height: 500px;
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px;
    background-color: #185e52;
}
.text{
    margin: 10px;
    min-height: 10%;
    width: 70%;
    text-align: center;
}
.flex_vertical{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background-color: darkgray;
}
.flex_vertical>div{
    max-height: 500px;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px;
    background-color: #185e52;
}
.grid_horizontal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    background-color: darkgray;
    margin-bottom: 10px;
}
.grid_horizontal>div{
    justify-self: center;
    margin: 10px;
    display: grid;
    justify-items: center;
    grid-template-rows: 85% 15%;
    background-color: #185e52;
}
.grid_vertical{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px 700px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: darkgray;
}
.grid_vertical>div{
    justify-self: center;
    margin: 10px;
    display: grid;
    justify-items: center;
    grid-template-rows: 80% 20%;
    min-width: 80%;
    background-color: #185e52;
}
@media screen and (max-width: 991px){
    header>a{
        font-size: xx-large;
    }
    .lesson2>table{
        width: 100%;
    }
    .text{
        min-height: 100px;
        font-size: xx-large;
    }
    .flex_horizontal, .flex_vertical{
        flex-direction: column;
        max-height: none;
        align-items: center;
    }
    .flex_horizontal>div, .flex_vertical>div{
    width: 90%;
    max-height: none;
    }
    .grid_horizontal, .grid_vertical{
        grid-template-columns:1fr;
        grid-template-rows: auto;
    }
    .grid_vertical>div, .grid_horizontal>div{
        width: 90%;
    }
}
@media print{
        header>a{
        font-size: xx-large;
    }
    .lesson2>table{
        width: 100%;
    }
    .text{
        min-height: 100px;
        font-size: xx-large;
    }
    .flex_horizontal, .flex_vertical{
        flex-direction: column;
        max-height: none;
        align-items: center;
    }
    .flex_horizontal>div, .flex_vertical>div{
    width: 90%;
    max-height: none;
    }
    .grid_horizontal, .grid_vertical{
        grid-template-columns:1fr;
        grid-template-rows: auto;
    }
    .grid_vertical>div, .grid_horizontal>div{
        width: 90%;
    }
}