
.blok-grid1 {    /*самый большой блок (где хранится всё остальное) */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*отвечает за расположение элементов, 50px 50px 50px 50px 50px указываем размер каждой ячеки, */
    justify-content: space-evenly; 		      /* центрирование элементов*/
    margin: 50px;
    background-color: #86e2b6;
}
.blok1 {
    background-color: blue;
    grid-area: blok1-grid;
}
.blok2 {
    background-color: yellow;
    grid-area: blok2-grid;
}
.blok3 {
    background-color: #b37979;
    grid-area: blok3-grid;
}
.blok4 {
    background-color: fuchsia;
    grid-area: blok4-grid;
}
.blok-grid2 {     /*подблок самогобольшого блока */
    display: grid;
    flex-direction: column;
    margin: 20px;    /* растояние вокруг  */
    padding: 20px;    /* внутринние отсупы до объектов */
    background-color: #ab75cd;

}
.blok-grid2-shema2 {    /*самый большой блок (где хранится всё остальное) 2 cхема */
    display: grid;
    grid-template-columns: 1fr 1fr  ;   /*строки и их размеры */
    justify-content: space-evenly;   /*выравнивание блоков center - по центру, space-evenly вырвние по ширине с равными промежутками */
    /* grid-column-gap: 40px;           расстояние между колонками в гриде */
    gap: 40px;			    /* расстояние между КОЛОНКАМИ И СТРОЧКАМИ в гриде */
    margin-left:40px;                    /*слева внешнее расстояние до блока */
    margin-right:40px;                    /*справа внешнее расстояние до блока */
    margin-top:40px;                    /*сверхзу внешнее расстояние до блока */
    padding: 20px;                  /* внутриннее расстояние до блока*/
    background-color: #86e2b6;
    grid-template-areas:            /*выбираем расположение объектов в гриде */
            'blok1-grid blok2-grid'
    'blok3-grid blok4-grid';
    /*так было до этого  'main main . sidebar'
       'footer footer footer footer'*/
}
.kartinka-verh {    /*размер картинки*/
    display: grid;
    background-color: #00eaff;
    height: 100px;    /*размер картинки*/
    margin-left: auto;    /*выравниванием картинку по центру*/
    margin-right: auto;    /*выравниванием картинку по центру*/
}
.verh {
    background-color: #00eaff;
    padding: 25px;
}
.niz{
    color: white;    /*цвет текста в дивах */
    background-color: #8FBC8F;    /*цвет дивов */
    text-align:center;
    padding: 20px;    /* внутринние отсупы до объектов */
}
@media screen and (max-width: 1200px) {    /* адаптация  podblok-grid для других размеров экрана*/
    .blok-grid2-shema2 {    /*самый большой блок (где хранится всё остальное) 2 cхема */
        display: grid;
        grid-template-columns: 1fr  ;   /*столбцы и их размеры */
        justify-content: space-evenly;   /*выравнивание блоков center - по центру, space-evenly вырвние по ширине с равными промежутками */
        /* grid-column-gap: 40px;           расстояние между колонками в гриде */
        gap: 40px;			    /* расстояние между КОЛОНКАМИ И СТРОЧКАМИ в гриде */
        margin:40px;                    /*внешнее расстояние до блока */
        padding: 20px;                  /* внутриннее расстояние до блока*/
        background-color: #86e2b6;
        grid-template-areas:            /*выбираем расположение объектов в гриде */
                'blok1-grid '
                'blok2-grid'
                'blok3-grid'
                'blok4-grid';
        /*так было до этого  'main main . sidebar'
           'footer footer footer footer'*/
    }
    .blok-grid1 {    /*самый большой блок (где хранится всё остальное) */
        display: grid;
        grid-template-columns: 1fr; /*отвечает за расположение элементов, 50px 50px 50px 50px 50px указываем размер каждой ячеки, */
        justify-content: space-evenly; 		      /* центрирование элементов*/
        margin: 50px;
        background-color: #86e2b6;
    }
}